<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>

    <script type="text/javascript" src="{{base_path()}}/libs/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="{{base_path()}}/libs/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="{{base_path()}}/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{base_path() }}/libs/fontawesome/css/all.css">
    <!-- Funciones propias -->
    <script type="text/javascript" src="{{base_path()}}/scripts/login.js"></script>
    <script type="text/javascript" src="{{base_path()}}/scripts/validacion_registro.js"></script>
    <script type="text/javascript" src="{{base_path()}}/scripts/registro.js"></script>
</head>

<body style='background-color: rgb(153, 167,184);'>
    <div class="container">
        <div class="row col-lg-6 col-md-8 col-sm-10 m-auto pt-5">
            <h1 class="titulo pb-2 text-info">REGISTRO</h1>
            <div class="w-100">
                <div class="p-3 rounded-5" style="background-color: lightgrey;">
                    <form>
                        <div class="mb-3 mt-3">
                            <div class="d-flex">
                                <i class="fas fa-envelope pt-2 px-2 mx-1 rounded border bg-light"></i>
                                <input type="email" class="form-control" placeholder="Correo" name="txtCorreo" id="txtCorreo">
                            </div>
                            <div id="correoError"></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <i class="fas fa-key pt-2 px-2 mx-1 rounded border bg-light"></i>
                                <input type="password" placeholder="Clave" class="form-control" name="txtClave" id="txtClave">
                            </div>
                            <div id="claveError"></div>
                        </div>
                        <div class="my-3">
                            <div class="d-flex">
                                <i class="fas fa-user pt-2 px-2 mx-1 rounded border bg-light"></i>
                                <input type="text" placeholder="Nombre" class="form-control" name="txtNombre" id="txtNombre">
                            </div>
                            <div id="nombreError"></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <i class="fas fa-user pt-2 px-2 mx-1 rounded border bg-light"></i>
                                <input type="text" placeholder="Apellido" class="form-control" name="txtApellido" id="txtApellido">
                            </div>
                            <div id="apellidoError"></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <i class="fas fa-id-card pt-2 pb-1 px-2 mx-1 rounded border bg-light"></i>
                                <select name="cmbPerfil" id="cmbPerfil" class="form-control">
                                    <option value="nulo" selected>Seleccionar perfil</option>
                                    <option value="propietario">Propietario</option>
                                    <option value="empleado">Empleado</option>
                                    <option value="encargado">Encargado</option>
                                </select>
                            </div>
                            <div id="perfilError"></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <i class="fas fa-camera pt-2 px-2 mx-1 rounded border bg-light"></i>
                                <input type="file" class="form-control" name="foto" id="foto">
                            </div>
                            <div id="fotoError"></div>
                        </div>
                        <!-- Alerta -->
                        <div id="mensajeError"></div>
                        <!-- Fin alerta -->
                        <div class="row justify-content-around mt-5 mb-3">
                            <button type="submit" id="btnRegistrar" class="col-5 btn btn-success" onclick="AdministradoraDeValidaciones(event)">Registrar</button>
                            <button type="reset" class="col-5 btn btn-warning">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>